@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    text-decoration: none;
    padding: none;
    margin: none;
    background-color: #2E2D32;
    overflow-x: hidden;
}

.icon-vaso {
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: #2E2D32;
    padding: 20px;
    border-radius: 30px;
}

.init-content {
    margin-top: -25px;
}

.init-img {
    margin-top: -25px;
}

.init-content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #FAEDF3;
    margin-left: 100px;
}

.init-content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FAEDF3;
    margin-left: 150px;
    margin-right: 15%;

}

.init-content h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #FAEDF3;
    margin-left: 150px;

}

.init-content button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FAEDF3;
    background-color: #5B2F87;
    border: none;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
    transition: 500ms;

}

.init-content button:hover {
    box-shadow: -8px 6px 10px 2px rgba(0, 0, 0, 0.25);
    margin-left: 152px;
    transition: 500ms
}


.card {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.free {
    background-color: #2E2D32;
    background-image: url("img/img-back-free.svg");
    opacity: 90%;
    /* background-position-y: 220px; */
    background-position-y: 0px;
    background-repeat: no-repeat;
    box-shadow: -9px 9px 20px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 500ms;
}

.free:hover {
    background-position-y: 220px;
    transition: 500ms;
    cursor: pointer;
}



.free h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #FAEDF3;
    padding: 20px;
    text-align: left;
}

.free ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FAEDF3;


}

.btn-start {
    background-color: #FAEDF3;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 10px 10px 10px;
    transition: 500ms;
}

.btn-start:hover {
    box-shadow: 0px 0px 12px 6px rgba(255, 255, 255, 0.25);
    transition: 500ms;
}


/* gold */

.gold {
    background-color: #2E2D32;
    background-image: url("img/img-back-free.svg");
    transform: scale(1.09);
    /* background-position-y: 220px; */
    background-position-y: 0px;

    background-repeat: no-repeat;
    box-shadow: -9px 9px 20px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 500ms;
}


.gold:hover {
    background-position-y: 220px;
    transition: 500ms;
    cursor: pointer;
}



.gold h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #FAEDF3;
    padding: 20px;
    text-align: left;
}

.gold ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FAEDF3;


}


/* diamont */

.diamont {
    background-color: #2E2D32;
    background-image: url("img/img-back-free.svg");
    opacity: 90%;


    /* background-position-y: 220px; */
    background-position-y: 0px;
    background-repeat: no-repeat;
    box-shadow: -9px 9px 20px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 500ms;
}


.diamont:hover {
    background-position-y: 220px;
    transition: 500ms;
    cursor: pointer;
}



.diamont h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #FAEDF3;
    padding: 20px;
    text-align: left;
}

.diamont ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FAEDF3;


}


.menor {
    animation: diminui 6s;

}

.descarga {
    animation: rotate 6s infinite;



}

@keyframes diminui {
    0% {
        transform: rotateZ(0deg);
        transition: 500ms;
        transform: scale(1);
    }


    100% {
        transform: rotateZ(50deg);
        transition: 500ms;
        transform: scale(0.0);
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);


    }


    100% {
        transform: rotateZ(360deg);


    }
}